/* 회원가입 */
.button_box {
  width: 80vh;
  padding-top: 5px;
  display: grid;
  justify-items: center;
  align-content: center;
}

.button_01 {
  padding: 10px 10px 10px 10px;
  margin-top: 15px;
  width: 42.5vh;
  height: 42px;
  border: 0px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background-color: #ff6d59;
  color: #fff;
  transition: all ease-in-out 0.3s;
}
.button_01 :hover {
  opacity: 0.8;
}

.button_02 {
  margin: 0 5px;
  width: 7vh;
  border: 0px;
  height: 42px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ff9b8d;
  color: #fff;
  /* transition: all ease-in-out 0.3s; */
}

.button_03 {
  width: 40vh;
  border: 0px;
  height: 42px;
  border-radius: 4px;
  justify-content: center;
  background-color: #ffebe5;
  color: #666666;
  /* transition: all ease-in-out 0.3s; */
}
.button_gradient {
  color: #fff;
  background: linear-gradient(135deg, #ff6d59, #ff9b8d);
  /* animation: animate 2s ease-out infinite; */
  animation: fadeinUp_a 0.8s;
}

/* 로그인 */
.login_button_01 {
  padding: 10px 10px 10px 10px;
  margin-top: 15px;
  width: 46.5vh;
  height: 42px;
  border: 0px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background-color: #ff6d59;
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.login_button_02 {
  width: 46.5vh;
  margin-top: 8px;
  height: 42px;
  border: 0px;
  cursor: pointer;
  background-color: #ffebe5;
  color: #666666;
}

.divider {
  width: 46.5vh;
  color: #ff9b8d;
  border-color: #ff9b8d;
  border-style: solid;
}

/* 소셜로그인 */

.social_googlebtn {
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  width: 46.5vh;
  height: 42px;
  border: 0px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  /* transition: all ease-in-out 0.3s; */
}
.social_naverbtn {
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  width: 46.5vh;
  height: 42px;
  border: 0px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background-color: #03ca5b;
  color: #000;
}
.social_kakaobtn {
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  width: 46.5vh;
  height: 42px;
  border: 0px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background-color: #f7d90c;
  color: #000;
}

/* 아이디 찾기 */

.findbutton_01 {
  margin: 20px 10px;

  width: 42.5vh;
  border: 0px;
  height: 42px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ff9b8d;
  color: #fff;
  /* transition: all ease-in-out 0.3s; */
}
.findbutton_02 {
  padding: 10px 10px 10px 10px;
  margin-top: 35px;
  width: 25vh;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
  background-color: #ff6d59;
  color: #fff;
  transition: all ease-in-out 0.3s;
  size: 15;
}

/* 헤더 버튼 */
.circle_avatar_btn {
  margin-right: 3vh;
  border-radius: 50%;
  border-width: 0;
  width: 51px;
  height: 51px;
  background-color: #fffdfb;
}

/* 프로필 편집, 로그아웃 버튼 */
.profile_btn_box {
  height: 100%;
  width: 100%;
  /* display: contents; */
}
.profile_btn {
  margin: 5px 4px 1px 5px;
  width: 45%;
  border: 0px;
  height: 43px;
  border-radius: 9px;
  cursor: pointer;
  background-color: #ffae8c;
  color: #666;
  /* 세로 */
  /* margin: 4px;
    width: 20vh;
    border: 0px;
    height: 31px;
    border-radius: 9px;
    cursor: pointer;
    background-color: #ffae8c;
    color: #666; */
}
