.container_box_01 {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2vh;
  margin-bottom: 1vh;
  background-color: #fffdfb;
}
.container_box_02 {
  background-color: #fffdfb;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
}

.header_logobox {
  /* margin-top: 5px; */
  flex-grow: 1;
}

.jamonglogo {
  width: 150px;
  margin-top: 7px;
}
